<ion-view view-title="About College">
    <ion-content>
	<br>
      <div> 
	  <center>
	  <img src="img/clgname.png" height="60" width="350"><br>
	  <img src="img/i2.jpg" height="129" width="129">
	  </center>
		</div>
		<div class="list">
		<center>
		<p>Thiagarajar College, founded on 7th July 1949, was formally inaugurated on 12th October 1949 by His Excellency, the King of Bhavnagar, the then Governor of Madras State. At the inaugural function, the founder, Karumuttu Thiagarajan Chettiar, described this institution as a "small and humble endeavour in education". The college, now has an impressive history covering 65 epoch-making years. This is an Autonomous Institution Affiliated to Madurai Kamaraj University. Re-accredited  with "A" Grade by NAAC in the 3rd Cycle with a CGPA of 3.37.<p>
		</center>
		</div>
		<div class="card">
		<center>
		<h4><font color="green"><i class="icon ion-arrow-shrink"></i> Vision</font></h4>
		<p>To serve society by providing affordable quality higher education to all at all times.</p>
		</center>
		</div>
		<div class="card">
		<center>
		<h4><font color="green"><i class="icon ion-arrow-shrink"></i> Mission</font></h4>
		<p>To provide an academic ambience that offers equal opportunities to all and ensures the efficient dissemination of knowledge through student-teacher synergy, resulting in character development and career readiness.</p>
		</center>
		</div>
		<div class="card">
		<center>
		<h4><font color="green"><i class="icon ion-arrow-shrink"></i> Motto</font></h4>
		<b><p>"Wisdom and love embody the divine”.</p></b>
		</center>
		</div>
    </ion-content>
</ion-view>
