<ion-view view-title="Contact Details">
    <ion-content class="im-wrapper">
        <div class="list">
                <a class="item item-avatar">
                    <img src="img/add.png">
                    <h2>Address</h2>
                    <p>#139-140, Kamarajar Salai,<br> MADURAI - 625009, India.</p>
                </a>
                <a class="item item-avatar" ng-href="tel: {{04522311875}}">
                    <img src="img/tele.png">
                    <h2>Telephone Number</h2>
                    <p>+91 452 2311875</p>
	    </a> 
                <a class="item item-avatar">
                    <img src="img/fax.png">
                    <h2>Fax Number</h2>
                    <p>+91 452 2311875</p>
                </a>
		<a class="item item-avatar ng-href="mailto:{{ ng-href="mailto:{{ 'principaltcarts@gmail.com' }}" target="_blank" }}" target="_system">
                    <img src="img/mail.png">
                    <h2>Email-ID</h2>
                    <p>principaltcarts@gmail.com</p>
                </a>
				<a class="item item-avatar" ng-href="https://www.facebook.com/pages/Thiagarajar-college-of-Arts-Science/141317369272436" target="_system">
                    <img src="img/fb.png">
                    <h2>Facebook Link</h2>
                </a>
		<a class="item item-avatar" ng-href="https://twitter.com/tcarts1949" target="_system">
                    <img src="img/twit.png">
                    <h2>Twitter Link</h2>
                </a>
            </div>
    </ion-content>
</ion-view>
