<ion-view view-title="Courses of Study">
    <ion-content class="im-wrapper">

    	 <div class="list card energized-100-bg">
                <div class="item item-avatar item-text-wrap">
                    <img src="img/ug.jpg">
                    <h2><b>UG Courses</b></h2>
                    <p>Under Graduate (Aided)</p>
                </div>
                <div class="item item-body">
                   <p>
						<ul>
						<li>&nbsp;1. B.A. Tamil</li>
						<li>&nbsp;2. B.A. English</li>
						<li>&nbsp;3. B.A. Economics (Tamil Medium)</li>
						<li>&nbsp;4. B.B.A.</li>
						<li>&nbsp;5. B.Com.</li>
						<li>&nbsp;6. B.Sc. Mathematics</li>
						<li>&nbsp;7. B.Sc. Physics</li>
						<li>&nbsp;8. B.Sc. Chemistry</li>
						<li>&nbsp;9. B.Sc. Botany</li>
						<li>&nbsp;10.B.Sc. Industrial Micro Biology</li>
						<li>&nbsp;11.B.Sc. Computer Science</li>
						</ul>
					</p>
                </div>
            </div> <br> 
             <div class="list card energized-100-bg">
                <div class="item item-avatar item-text-wrap">
                    <img src="img/ug.jpg">
                    <h2><b>UG Courses</b></h2>
                    <p>Under Graduate (Self-Finance)</p>
                </div>
                <div class="item item-body">
				    <p>
						<ul>
						<li>&nbsp;1. B.A. English</li>
						<li>&nbsp;2. B.A. Economics(English Medium)</li>
						<li>&nbsp;3. B.B.A.</li>
						<li>&nbsp;4. B.Com.</li>
						<li>&nbsp;5. B.C.A.</li>
						<li>&nbsp;6. B.Sc. IT</li>
						<li>&nbsp;7. B.Sc. Computer Science</li>
						<li>&nbsp;8. B.Sc. Bio Technology</li>
						</ul>
					</p>
                </div>
            </div> <br> 
             <div class="list card assertive-100-bg">
                <div class="item item-avatar item-text-wrap">
                    <img src="img/pg.png">
                    <h2><b>PG Courses</b></h2>
                    <p>Post Graduate (Aided)</p>
                </div>
                <div class="item item-body">
					<p>
						<ul>
							<li>&nbsp;1. M.A. Tamil</li>
							<li>&nbsp;2. M.A. English</li>
							<li>&nbsp;3. M.A. Economics</li>
							<li>&nbsp;4. M.Sc. Mathematics</li>
							<li>&nbsp;5. M.Sc. Physics</li>
							<li>&nbsp;6. M.Sc. Chemistry</li>
							<li>&nbsp;7. M.Sc. Botany</li>
							<li>&nbsp;8. M.Sc. Zoology</li>
						</ul>
					</p>
                </div>
            </div> <br> 
            <div class="list card assertive-100-bg">
                <div class="item item-avatar item-text-wrap">
                    <img src="img/pg.png">
                    <h2><b>PG Courses</b></h2>
                    <p>Post Graduate (Self-Finance)</p>
                </div>
                <div class="item item-body">
					<p>
						<ul>
						<li>&nbsp;1. M.H.R.D. (Master of Human Resources Development)</li>
						<li>&nbsp;2. M.F.C. (Master of Finance and Control)</li>
						<li>&nbsp;3. M.Sc. Chemistry (Special)</li>
						<li>&nbsp;4. M.Sc. Micro Biology</li>
						<li>&nbsp;5. M.Sc. Computer Science</li>
						<li>&nbsp;6. M.Sc. Bio Resources Management</li>
						</ul>
					</p>
                </div>
            </div> <br> 
             <div class="list card royal-100-bg">
                <div class="item item-avatar item-text-wrap">
                    <img src="img/mphil.jpg">
                    <h2><b>M.Phil (Aided)</b></h2>
                    <p>M.Phil Courses</p>
                </div>
                <div class="item item-body">
					<p>
						<ul>
						<li>&nbsp;1. Tamil</li>
						<li>&nbsp;2. English</li>
						<li>&nbsp;3. Botany</li>
						<li>&nbsp;4. Zoology</li>
						</ul>
					</p>
                </div>
            </div> <br> 
            <div class="list card royal-100-bg">
                <div class="item item-avatar item-text-wrap">
                    <img src="img/mphil.jpg">
                    <h2><b>M.Phil (Self-Finance)</b></h2>
                    <p>M.Phil Courses</p>
                </div>
                <div class="item item-body">
					<p>
						<ul>
						<li>&nbsp;1. Economics</li>
						<li>&nbsp;2. Commerce</li>
						<li>&nbsp;3. Mathematics</li>
						<li>&nbsp;4. Physics</li>
						<li>&nbsp;5. Chemistry</li>
						</ul>
					</p>
                </div>
            </div> <br> 
            <div class="list card balanced-100-bg">
                <div class="item item-avatar item-text-wrap">
                    <img src="img/phd.jpg">
                    <h2><b>Ph.D</b></h2>
                    <p>Ph.D Courses</p>
                </div>
                <div class="item item-body">
					<p>
						<ul>
						<li>&nbsp;1. Tamil</li>
						<li>&nbsp;2. English</li>
						<li>&nbsp;3. Economics</li>
						<li>&nbsp;4. Physics</li>
						<li>&nbsp;5. Chemistry</li>
						<li>&nbsp;6. Botany</li>
						<li>&nbsp;7. Zoology</li>
						</ul>
					</p>
                </div>
            </div> <br> 
            <div class="list card balanced-100-bg">
                <div class="item item-avatar item-text-wrap">
                    <img src="img/diploma.jpg">
                    <h2><b>Diploma Courses (Self-Finance)</b></h2>
                    
                </div>
                <div class="item item-body">
					<p>
						<ul>
						<li>&nbsp;1. Diploma in Travel and Tourism Management</li>
						<li>&nbsp;2. Diploma in Soft Skills for Career</li>
						<li>&nbsp;3. Diploma in Management of Industries (Small Scale)</li>
						<li>&nbsp;4. Diploma in Insurance and Resource Management</li>
						<li>&nbsp;5. Diploma in Retail Planning</li>
						<li>&nbsp;6. Diploma in Statistics</li>
						<li>&nbsp;7. Diploma in Computer Application</li>
						<li>&nbsp;8. PG Diploma in Molecular Modeling & Spectroscopy</li>
						<li>&nbsp;9. PG Diploma in Spectroscopic Analysis & Software Utility</li>
						<li>&nbsp;10.Diploma in Medicinal Plants</li>
						<li>&nbsp;11.Diploma in Aquaculture</li>
						<li>&nbsp;12.Diploma in Food Processing</li>
						<li>&nbsp;13.Diploma in Desktop Publishing</li>
						<li>&nbsp;14.Diploma in Gandhian Thought (offered by MKU)</li>
						</ul>
					</p>
                </div>
            </div> <br> 
            <div class="list card energized-100-bg ">
                <div class="item item-avatar item-text-wrap" >
                    <img src="img/certi.jpg">
                    <h2><b>Certificate Courses (Self-Finance)</b></h2>
                    
                </div>
                <div class="item item-body">
					<p>
						<ul>
						<li>&nbsp;1. Certificate Course in Travel and Tourism</li>
						<li>&nbsp;2. Certificate Course in Desktop Publishing
						<li>&nbsp;3. Certificate Course in Management of Industries (Small Scale)</li>
						<li>&nbsp;4. Certificate Course in Insurance and Resource Management</li>
						<li>&nbsp;5. Certificate Course in Retail Management</li>
						<li>&nbsp;6. Certificate Course in Astronomy</li>
						<li>&nbsp;7. Certificate Course in Crystal Physics</li>
						<li>&nbsp;8. Certificate Course in Industrial Safety</li>
						<li>&nbsp;9. Certificate Course in Mushroom Cultivation</li>
						<li>&nbsp;10.Certificate Course in Water Quality Analysis</li>
						<li>&nbsp;11.Certificate Course in Web Designing</li>
						<li>&nbsp;12.Certificate Course in Yoga</li>
						<li>&nbsp;13.Certificate Course in Women's Health and Fitness</li>
						<li>&nbsp;14.Certificate Course in Herbal Cosmetics</li>
						<li>&nbsp;15.Certificate Course in Gandhian Thought (offered by MKU)</li>
						</ul>
					</p>
                </div>
            </div> <br>
    </ion-content>
</ion-view>
