<ion-view view-title="Facilities">
    <ion-content>
        <div class="list">
                <a class="item item-thumbnail-left item-text-wrap">
                    <img src="img/bestlib.png">
                    <h2><b>Library</b></h2>
                    <p>The Library is one of the oldest libraries in Madurai and houses a rare and valuable 
					collection of books. The general library and department libraries have a total of 89,190
					books on various subjects. The library has a rare collection of ancient books both 
					in Tamil and English languages. The periodical 
					section has back-volumes of Journals in all disciplines. The library has bought 76 Journals. </p>
                </a>
                <a class="item item-thumbnail-left item-text-wrap">
                    <img src="img/host.png">
                    <h2><b>Hostels</b></h2>
                    <p>Hostels are available for both boys and girls.<b> Available facilities in Boys hostel: </b>
					Library, Audio Visual Aids, Invertors, Health Centre,Shuttle Cock Play Ground,Recreation Club, Various Student Committees for Mess, Library, Sports
					and Water Management have been formed and are functioning well.  <br>
 <b>Available facilities in Women‚Äôs hostel:</b><br>
Internet facilities, Coffee Vending Machine, Audio Visual Aids and Invertors
</p>
                </a>
                <a class="item item-thumbnail-left item-text-wrap">
                    <img src="img/post.png">
                    <h2><b>Post Office</b></h2>
                    <p>The post office is situated adjacent to the canteen. It provides the students a
					facility to write letters to their parents, though writing letters has become an 
					outdated art. Students send various forms of applications to different places from 
					within the campus. </p>
                </a>
				<a class="item item-thumbnail-left item-text-wrap">
                    <img src="img/canteen.png">
                    <h2><b>Canteen</b></h2>
                    <p>The canteen provides the staff and the students a means for quenching their
					thirst and feeding their hungry stomachs in the midst of their busy academic schedule. It remains 
					a much-sought place and always reminds one of the couplet in the
					Thirukkural, One will be provided with food for stomach, when there is no food for earÄù. </p>
                </a>
				<a class="item item-thumbnail-left item-text-wrap">
                    <img src="img/place.png">
                    <h2><b>Placement Cell</b></h2>
                    <p>The placement cell was established in 2003 with an intention to inculcate a
					sense of responsibility among students to
					be placed in higher positions. The cell functions as a vital organ to bridge the 
					gap between companies and students with a focus on employability.</p>
                </a>
				<a class="item item-thumbnail-left item-text-wrap">
                    <img src="img/guide.png">
                    <h2><b>Career Guidance Cell</b></h2>
                    <p>The Career Guidance Cell was started in 2003. The cell prepare the students 
					for campus interviews and job placement and train the students for competitive 
					and civil service exams. It arranges training programme on soft skill development 
					and provide career counseling. </p>
                </a>
				<a class="item item-thumbnail-left item-text-wrap">
                    <img src="img/coun.png">
                    <h2><b>Women's Counseling Cell</b></h2>
                    <p>Girls Students' Counselling Cell takes care of the well being, welfare and 
					personal development of the girls. It works towards developing their 
					personality and self-esteem. Our on-site counselling system provides support to
					the girls and enables them to understand and resolve their problems.

</p>
                </a>
				<a class="item item-thumbnail-left item-text-wrap">
                    <img src="img/aid.png">
                    <h2><b>First Aid Cell</b></h2>
                    <p>The college runs a First Aid Cell to facilitate immediate medical assistance 
					to students and staff. A first aid box with all necessary medicines <br>
					and dressing materials is maintained. The cell
					offers a separate paper on First Aid to 
					Youth Red Cross Society volunteers of the 
					college under Part V course. Besides theory,
					practical training is given to students by St.John ôs Ambulance.</p>
                </a>
            </div>
    </ion-content>
</ion-view>
