<ion-view view-title="Rules and Regulations">
    <ion-content>
        <div class="im-wrapper">
            <center>
                <h4> <i class="icon ion-arrow-shrink"></i> Common Rules</h4>
             </center>
                <div class="list">
                    <i class="icon ion-ionic"></i>
                     Students should dress appropriately.
                </div>    
                
                <div class="list">
                    <i class="icon ion-ionic"></i>
                    Cell phones are not allowed inside the campus.
                </div>
                <div class="list">
                    <i class="icon ion-ionic"></i>
                    Students should help keep the college campus clean.
                </div>
                <div class="list">
                    <i class="icon ion-ionic"></i>
                    Students should not smoke inside the campus.
                </div>
                <div class="list">
                    <i class="icon ion-ionic"></i>
                    Students should wear their identity cards at all times.
                </div>
				<div class="list">
                    <i class="icon ion-ionic"></i>
                    Ragging is strictly prohibited.
                </div>
				<div class="list">
                    <i class="icon ion-ionic"></i>
                    Students are encouraged to regularly check the <br>notice board for current information.
                </div>
				<div class="list">
                    <i class="icon ion-ionic"></i>
                    No documents or promotional materials should be <br>circulated without the permission of the Principal.
                </div>
				<div class="list">
                    <i class="icon ion-ionic"></i>
                    Students must respect college premises, buildings and <br>furniture.
                </div>
				<div class="list">
                    <i class="icon ion-ionic"></i>
                    Students who disobey the college rules will be taken to task.
                </div>
            </div>
		
    </ion-content>
</ion-view>
