<ion-view view-title="Who Am I">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">About Padmapriya</strong>
        </div>
        <div class="im-wrapper">
            <!-- Ionic Components -->
           <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/padma.jpg">
                    <h2><b>Hello, I m Padmapriya</b></h2>
                    <p>Co-Founder of Amorous Inc</p>
                </a>
            </div>   
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hi I am Padmapriya, Co-founder of Amorous Inc. I live in TamilNadu, India. My native place is Madurai. I am a B.Sc graduate girl. I m really passionate to learn new technologies and developing mobile applications and web applications. I like to share my knowledge with others.I like to know more about latest technology NEWS. </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I m presently contributed with a few open source communities like Github. I m one of the core member of GDG Madurai community and volunteer of Metoomentor organization. I m a member of GDG Bangalore also. 
            </p>   
            <p>
                  <h4> <i class="icon ion-arrow-shrink"></i> Volunteer and Causes</h4>
            <div class="list card energized-100-bg">
                <div class="item item-avatar">
                    <img src="img/gdgmdu.jpg">
                    <h2>GDG Madurai</h2>
                    <p>Google Developers Group Madurai Community.</p>
                </div>
                <div class="item item-body">
                    GDG Madurai is a community where programmers meet to discuss and work with several Google developer resoources and products.I am one of the core member of this GDG Madurai Community. 
                    <br><br>gdgmadurai.in
                </div>

            </div>  
            </p>
             <p>
                  
            <div class="list card energized-100-bg">
                <div class="item item-avatar">
                    <img src="img/me2mentor.jpg">
                    <h2>MetooMentor</h2>
                    <p>Non-Profit organization.</p>
                </div>
                <div class="item item-body">
                    Me2mentor platform work to create a technological awareness and help them to choose the right career path for young students in tier2 and tier 3 cities in India.<br>
                    We believe that more girls exposed to Research and entrepreneurship at a young age will lead to more women working in the technology and engineering fields.
                    <br><br>www.me2mentor.org
                </div>
            </div>  
            </p> 
           
            </div>
    </ion-content>
</ion-view>
