<ion-view view-title="Contact">
    <ion-content class="im-wrapper">
        <center><h4><b>Ping Me</b></h4></center>
        <div class="list">
            
                <a class="item item-icon-left">
                   <i class="icon ion-email"></i> 
                   padmapriya2431995@gmail.com
                </a>  
             
            
        </div> <br/>
           <center><div class="list">
            <!--<button class="button button-fab button-balanced">-->
                <center><a class="item item-icon-left">
                   <!--<i class="icon ion-person-stalker"></i>--> 
                   <i class="icon ion-social-google button-assertive-900"></i>
                   google.com/+PadmapriyaR1995
                </a>  </center>
            <!--</button> -->
             
        </div> </center><br/>
           <div class="list">
            
                <a class="item item-icon-left">
                   <i class="icon ion-person-stalker"></i>
                   https://github.com/PadmapriyaR 
                </a>  
            
             
        </div> <br/>
          <div class="list">
            
                <a class="item item-icon-left">
                  <i class="icon ion-social-twitter button-calm-900"></i>
                  www.twitter.com/padmapriyaru
                </a>  
            
            
        </div> <br/>
         <div class="list">
            <button class="button button-fab button-balanced">
                <a class="item item-icon-left">
                   <i class="icon ion-person-stalker"></i> 
                </a>  
            </button> 
            http://in.linkedin.com/pub/padmapriya-r/a7/2a1/512/ 
        </div> 
    </ion-content>
</ion-view>
