<ion-view view-title="Honours and Awards">
    <ion-content>
        <div class="im-wrapper">
            <center><h4><b>Acheivements</b></h4></center>
            <p>We got more recognization for our products.</p>  
            <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/eagle.png">
                    <h2><b>Technovation Challenge</b></h2>
                    <p>May 2014</p>
                </a>
                <div>
                    <p>Our Eagle eye idea got shortlisted in Asian pacific level competition.And our idea was announced in technovation challenge official website.</p>
                </div>    
            </div>
            <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/tc.jpg">
                    <h2><b>WeTech Pitch Event</b></h2>
                    <p>August 2014</p>
                </a>
                <div>
                    <p>Our idea got first prize in WeTech pitch Event held at Bangalore.</p>
                </div>    
            </div>
             <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/chennai.jpg">
                    <h2><b>Chennai Pitch Event</b></h2>
                    <p>October 2014</p>
                </a>
                <div>
                    <p>Our team was selected in top 10 to present our idea in Chennai pitch Event.</p>
                </div>    
            </div>
              <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/aarambam.jpg">
                    <h2><b>Aarambam Startup contest</b></h2>
                    <p>November 2014</p>
                </a>
                <div>
                    <p>This is the startup contest happening at Madurai. Our idea was selected in top 5 teams for final pitch and we presented our idea in front of ventures.</p>
                </div>    
            </div>
              <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/ibm.jpg">
                    <h2><b>IBM Hackathon</b></h2>
                    <p>January 2015</p>
                </a>
                <div>
                    <p>We are the Winner of this Hackathon competition. Theme was to develop applications or products that should solve the social problem in our country. This was held at Bangalore.</p>
                </div>    
            </div>
            </div> 
            <br /><br />
                <center> <h4><b>Articles</b></h4></center>  <br>
            <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/hindu.jpg">
                    <h2><b>The Hindu tamil news paper</b></h2>
                    <p>Published on Jan 25 2015</p>
                </a>   
            </div>
            <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/adven.jpg">
                    <h2><b>Adventures</b></h2>
                    <p>Published on Feb 20 2015</p>
                </a>  
            </div>
             <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/ie.jpg">
                    <h2><b>Indian Express</b></h2>
                    <p>Published on Feb 28 2015</p>
                </a> 
            </div>
              <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/av.jpg">
                    <h2><b>Aval Vikatan</b></h2>
                    <p>Published on March 10 2015</p>
                </a>   
            </div>
              <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/dn.jpg">
                    <h2><b>Dhinathandhi</b></h2>
                    <p>Published on March 15 2015</p>
                </a>  
            </div>
            <div class="list">
                <a class="item item-thumbnail-left">
                    <img src="img/padma.jpg">
                    <h2><b>Pudhiya Thalaimurai</b></h2>
                    <p>Published on March 23 2015</p>
                </a>  
            </div>
            </div> 
    </ion-content>
</ion-view>
