<ion-view view-title="Our Company and Projects">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Mobile applications and Web applications</strong>
        </div>
        <br>
        <div>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forget those days when women are not considered as powerful person. We know that world is male dominant but I say, “World Was” Now days World is not only male dominated.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New generation women proved that they are not only queen of kitchen but they will be queen of business also. They broke all the negative aspect of the world about the women.
            </p>
        </div>  
        <div>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We are 3 Co-Founders. We started a company named <b>Amorous Inc.</b> This is happened because of the Great person <b>Mr.Senthilkumar.</b>  He is mentor of us.He works a lot for Women Empowerment. We believe that women can acheive in research field also.</p>
        </div>
         <div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Now our company doing mobile app and web app development. And we are working on our own product also.
        </div>
        <div class="im-wrapper">
            <h4 class="no-border no-padding-bottom">Our Projects</h4>
            <strong>These are the projects which we have started from our college days itslef.</strong>
        </div>
        
        <ion-list class="animate-ripple">
            <ion-item class="item-icon-right item-avatar" ng-click="blinds();">
                <img src="img/eagle.png">
                <h2><b>Eagle Eye</b></h2>    
            </ion-item> 
            <div>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It is an android application which will solve the home burglary problem when people are not at home. Using two smart phones it will solve that problem.
                <br>
                    For more : eagleeyephone.appspot.com
                </p>    
            </div>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="ripple();">
                <img src="img/logo.jpg">
                <h2><b>Cloud Campus</b></h2>
            </ion-item>
             <div>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It is a mobile application for our Thiagarajar College. Through online students can submit their application form for their graduation. And they can view the exam result also.The Details of the college campus will be within your Palmset.</p>
            </div>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="fadeSlideIn();">
                <img src="img/smartfarming.jpg">
                <h2><b>Smart Farming</b></h2>
            </ion-item>
            <div>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is Cloud-Based automated system to feed water in farming land using IoT. It will reduce the Physical effort and inconvenience of farmer's irrigation.And it will also reduce the Wastage of water and electricity.</p>
            </div>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="fadeSlideInRight();">
                <img src="img/mc.png">
                <h2><b>MoneyCollect</b></h2>
            </ion-item>
            <div>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is mobile application which is used to collecting money for a speical events from a group of people in a smart way. That events are organizing by the students.</p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
