<ion-view view-title="Time Line">
    <ion-content class="im-wrapper">
        <br>
        <div class="list card energized-100-bg">
                <div class="item item-avatar">
                    <img src="img/appdeveloper.png">
                    <h2><b>Now</b></h2>
                    <p>Co-Founder</p>
                </div>
                <div class="item item-body">
                   I am Co-Founder of Amorous Inc.  Totally 3 members are co-founders in our company.They are Me, Vaishnavi and Priya.The Head of our company is Mr.Senthilkumar.Our services are developing mobile applications and web applications.
                </div>
            </div> <br> 
            <div class="list card assertive-100-bg">
                <div class="item item-avatar">
                    <img src="img/graduation.png">
                    <h2><b>Till May 2015</b></h2>
                    <p>B.Sc</p>
                </div>
                <div class="item item-body">
                 I completed my B.Sc(Computer Science) degree in Thiagarajar College, Madurai.I dont't want to commit myself whatever writes in books only.So that In my free times I m doing cool website designing and app development.   
                </div>
            </div><br>  
            <div class="list card energized-100-bg">
                <div class="item item-avatar">
                    <img src="img/school.png">
                    <h2><b>2012</b></h2>
                    <p>My Higher Secondary</p>
                </div>
                <div class="item item-body">
                  I did my 10th std in ST.Joseph's Girls Higher secondary school,Madurai.I scored 90% in my 10th std.
                </div>
            </div> <br> 
            <div class="list card assertive-100-bg">
                <div class="item item-avatar">
                    <img src="img/school.png">
                    <h2><b>2010</b></h2>
                    <p>My High School</p>
                </div>
                <div class="item item-body">
                   I did my 10th std in ST.Joseph's Girls Higher secondary school,Madurai.I scored 91% in my 10th std.
                </div>
            </div>  <br>
            <div class="list card energized-100-bg">
                <div class="item item-avatar">
                    <img src="img/school.png">
                    <h2><b>2008</b></h2>
                    <p>Middle School</p>
                </div>
                <div class="item item-body">
                  I completed my Middle school studies in R.C.Middle school,Madurai.
                </div>
            </div>   
    </ion-content>
</ion-view>
